{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Construction{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>Ajouter une construction <a href="{{url('app_construction_add')}}"><button type="button" class="btn btn-primary">Ajouter</button></a></p>
    <ul>
    {% for construction in constructions  %}
        <li>{{ construction }} <a href="{{ url('app_construction_edit',{'id':construction.id}) }}"><button type="button" class="btn btn-warning">EDIT</button></a> <a href="{{ url('app_construction_delete',{'id':construction.id}) }}"><button type="button" class="btn btn-danger">DELETE</button></a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
